*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: #d5e1ef;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    max-width: 350px;
    width: 90%;
    border-radius: 10px;
    padding-top: 10px;
   
}
img{
    width: 90%;
    border-radius: 10px;
}
.abajo{
    text-align: center;
    margin-top: 20px;
}
h1{
    font-family: 'Barlow', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
p{
    font-family: 'Barlow', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: rgba(8, 8, 8, 0.541);
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
