*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: #d5e1ef;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
}
img{
    width: 280px;
    height: 280px;
    border-radius: 10px;

}